</head>
<body>
  
  <header class="header">
    <a class="sitename" href="/">Triple Triad Deck Builder</a>

    <nav>
      <a href="/">Cartes</a>
      <a href="/search">Recherche</a>
      <a href="/deck">Decks</a>
    </nav>

  </header>

  <main class="main">